*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include zero;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  background: $back-body-light;
  // background: linear-gradient(to right, #3a6186, #89253e);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  direction: ltr;
  overscroll-behavior-y: none;
}

::selection {
  background: #12131d;
  color: #fff;
}

ul {
  list-style-type: none;
  @include zero;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  // font-family: ;
}