@font-face {
  font-family: "Agustina Demo";
  src: url("../assets/font/Agustina.eot");
  src: url("../assets/font/Agustina.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/Agustina.woff2") format("woff2"), url("../assets/font/Agustina.woff") format("woff"),
    url("../assets/font/Agustina Demo.ttf") format("truetype"),
    url("../assets/font/Agustina.svg#svgFontName") format("svg");
}
