.navbar_active {
  overflow: hidden;
}

.hero-container {
  // margin-top: 66px;
  // padding: 20px 0 0;
  // min-height: 370vh;
  width: 100%;
}

.social-links {
  margin-top: 1rem;
  width: 5rem;
  display: flex;
  justify-content: space-between;

  .social-link {
    font-size: 2rem;
    color: #12131d;
  }
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
  z-index: 1;

  h2 {
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-style: normal;
  }

  .underline {
    position: relative;
    bottom: 29px;
    width: 12rem;
    height: 0.75rem;
    margin-bottom: 1.25rem;
    background: #6c63ff;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    z-index: -1;
  }
}

.message__ {
  display: flex;
  width: 16rem;
  background: #161420;
  float: right;
  margin-right: 15px;
  border-radius: 4px;
  color: rgb(233, 232, 232);

  &.scale-right {
    animation: scale-right 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  }

  &.clos {
    animation: scale-right 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .info-message {
    font-size: 22px;
    line-height: 20px;
    font-weight: bold;
    padding: 15px;
  }
}