.about-page {
  height: 100vh;
  padding: 7rem 0;

  //! @media 375px
  @include respond(mobileM) {
    height: 125vh;
  }

  .about-center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 4rem;
    height: 100%;

    //! @media 550px
    @include respond(tabletM) {
      column-gap: 0;
    }

    &.section-about {
      width: 90vw;
      margin: auto;

      //! @media 1024px
      @include respond(desktopS) {
        width: 99vw;
      }
    }

    .about-img {
      grid-column: 2 / span 4;
      margin-bottom: 0;

      img {
        width: 37rem;

        //! @media 1024px
        @include respond(desktopS) {
          width: 30rem;
        }

        //! @media 768px
        @include respond(tablet) {
          width: 34rem;
        }

        //! @media 550px
        @include respond(tabletM) {
          width: 27rem;
        }

        //! @media 480px
        @include respond(mobileL) {
          width: 24rem;
        }

        //! @media 375px
        @include respond(mobileM) {
          width: 20rem;
        }
      }

      //! @media 1440px
      @include respond(desktopMax) {
        grid-column: 1 / span 4;
      }

      //! @media 768px
      @include respond(tablet) {
        grid-row: 1;
        grid-column: 1 / span 12;
        text-align: center;
      }
    }

    .about-contents {
      grid-column: 7/-1;

      //! @media 768px
      @include respond(tablet) {
        margin-top: 15px;
        grid-row: 2;
        grid-column: 1 / span 12;
        text-align: center;
      }

      .section-title {
        text-align: left;
        position: relative;
        bottom: 40px;

        //! @media 768px
        @include respond(tablet) {
          text-align: center;
        }

        h2 {
          text-transform: capitalize;
        }

        .underline {
          margin-left: 0;
          margin-right: 0;
          width: 11.1rem;

          //! @media 768px
          @include respond(tablet) {
            margin: auto;
          }
        }
      }

      .about-text {
        p {
          line-height: 2;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 1.25rem;

          //! @media 1024px
          @include respond(desktopS) {
            font-size: 18px;
          }

          //! @media 480px
          @include respond(mobileL) {
            font-size: 16px;
          }
        }

        .about-stack {
          span {
            margin-top: 0.7rem;
            display: inline-block;
            background: #dae2ec;
            margin-right: 0.5rem;
            padding: 0.25rem 0.5rem;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 0.85rem;

            //! @media 480px
            @include respond(mobileL) {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}