.page-contact {
  height: 100%;
  padding: 4rem 0 2rem;
  overflow: hidden;

  &.contact {
    width: 95vw;
    margin: 0 auto;

    //! @media 1024px
    @include respond(desktopS) {
      width: 99vw;
    }

    //! @media 480px
    @include respond(mobileL) {
      width: 100vw;
    }
  }

  .main-content-section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    margin-bottom: 15rem;

    //! @media 375px
    @include respond(mobileM) {
      margin-bottom: 10rem;
    }

    //! @media 480px
    @include respond(mobileL) {
      grid-gap: 0;
    }

    .image-contact {
      grid-column: 6 / span 7;
      grid-row: 1;

      //! @media 768px
      @include respond(tablet) {
        grid-column: 1 / span 12;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .section-title {
      grid-column: 1 / span 5;

      //! @media 768px
      @include respond(tablet) {
        grid-row: 2;
        grid-column: 1 / span 12;
        text-align: center;
      }

      //! @media 375px
      @include respond(mobileM) {
        position: relative;
        bottom: 30px;
      }

      h2 {
        position: relative;
        top: 25%;
        right: 0;
        font-size: 7rem;

        //! @media 1440px
        @include respond(desktopMax) {
          font-size: 6rem;
        }

        // //! @media 1382px
        // @include respond(desktop) {
        //   font-size: 4rem;
        // }
        //! @media 1024px
        @include respond(desktopS) {
          font-size: 4rem;
        }

        //! @media 375px
        @include respond(mobileM) {
          font-size: 3.5rem;
        }

        //! @media 320px
        @include respond(mobileS) {
          font-size: 3rem;
        }
      }

      &.section-title {
        margin: 0;
      }

      .underline {
        position: relative;
        top: 5.7rem;
        width: 34rem;
        height: 1.5rem;
        margin: auto;

        //! @media 1440px
        @include respond(desktopMax) {
          width: 29.3rem;
          top: 3.7rem;
        }

        // ! @media 1382px
        @include respond(desktop) {
          top: 3.4rem;
        }

        //! @media 1024px
        @include respond(desktopS) {
          width: 20rem;
          top: 2.8rem;
          height: 1rem;
        }

        //! @media 992px
        @include respond(medium) {
          width: 19.8rem;
          top: 2.6rem;
          height: 1rem;
        }

        //! @media 768px
        @include respond(tablet) {
          top: 0.3rem;
        }

        //! @media 375px
        @include respond(mobileM) {
          width: 17.5rem;
          top: 0.1rem;
        }

        //! @media 320px
        @include respond(mobileS) {
          width: 15.1rem;
          top: 0;
        }
      }
    }
  }

  .form-section {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;

    //! @media 1024px
    @include respond(desktopS) {
      grid-gap: 1rem;
    }

    .form-contact {
      grid-column: 7 / span 6;
      grid-row: 1;
      background: $skill-back-color;
      backdrop-filter: $skill-backdrop;
      padding: 20px 0;
      // margin-bottom: 20px;
      border-radius: 5px;
      width: 90vw;
      max-width: 35rem;
      overflow: hidden;
      text-align: center;
      box-shadow: $skill-shadow;
      border-top: $skill-border;
      border-left: $skill-border;
      margin: auto;

      //! @media 1024px
      @include respond(desktopS) {
        max-width: 30rem;
      }

      //! @media 768px
      @include respond(tablet) {
        grid-column: 1 / span 12;
        text-align: center;
        margin-bottom: 5rem;
      }

      h3 {
        padding-top: 1.25rem;
        color: #617d98;

        //! @media 1024px
        @include respond(desktopS) {
          margin-top: 0;
        }

        //! @media 320px
        @include respond(mobileS) {
          font-size: 1.9rem;
        }
      }

      .from-group {
        padding: 1rem 1.5rem;

        .form-control {
          font-size: 1.3rem;
          display: block;
          width: 100%;
          padding: 0.75rem 1rem;
          border: 0;
          margin-bottom: 1.5rem;
          background: #2e39432b;
          border-radius: 5px;
          text-transform: uppercase;

          //! @media 480px
          @include respond(mobileL) {
            font-size: 1rem;
          }
        }

        input {

          //! @media 320px
          @include respond(mobileS) {
            &[type="text"] {
              font-size: 0.9rem;
            }
          }
        }

        .errorMsg {
          font-size: 1rem;
          font-weight: 300;
          color: #ff0000;
          margin-bottom: 0.5rem;

          //! @media 480px
          @include respond(mobileL) {
            font-size: 0.6rem;
          }
        }
      }

      button {
        position: relative;
        margin: auto;
        padding: 19px 22px;
        transition: all 0.2s ease;
        font-size: 16px;
        line-height: 18px;
        font-weight: 900;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        vertical-align: middle;
        border: 0;
        background: transparent;
        cursor: pointer;

        //! @media 320px
        @include respond(mobileS) {
          font-size: 14px;
          padding: 15px 19px;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          border-radius: 28px;
          background: #27293e52;
          width: 56px;
          height: 56px;
          transition: all 0.3s ease;

          //! @media 320px
          @include respond(mobileS) {
            width: 50px;
            height: 50px;
          }
        }

        &:hover {
          &:before {
            width: 100%;
            background: #27293e8c;
          }
        }

        &:focus {
          outline: none;
        }
      }

      .status {
        width: 90%;
        max-width: 400px;
        text-align: center;
        padding: 8px;
        margin: 10px auto 0;
        border-radius: 8px;
        font-size: 1rem;

        &.success {
          background-color: rgba(199, 255, 115, 0.856);
          animation: status 4s ease forwards;
        }

        &.error {
          background-color: rgb(250, 129, 92);
          color: white;
          animation: status 4s ease forwards;
        }
      }
    }

    .contact-us-div {
      grid-column: 2 / span 5;
      margin: auto;

      //! @media 768px
      @include respond(tablet) {
        grid-column: 1 / span 12;
        grid-row: 2;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
      }

      img {
        opacity: 0.5;
        width: 35rem;
        position: absolute;
        top: 59rem;
        z-index: -1;

        //! @media 1440px
        @include respond(desktopMax) {
          left: 10rem;
          top: 52rem;
        }

        //! @media 1382px
        @include respond(desktop) {
          left: 5rem;
        }

        //! @media 1024px
        @include respond(desktopS) {
          width: 22rem;
          left: 2rem;
        }

        //! @media 768px
        @include respond(tablet) {
          width: 28rem;
          top: 100rem;
          left: 6rem;
        }

        //! @media 550px
        @include respond(tabletM) {
          top: 92rem;
          left: 3rem;
        }

        //! @media 480px
        @include respond(mobileL) {
          width: 20rem;
        }

        //! @media 375px
        @include respond(mobileM) {
          width: 19rem;
          top: 82rem;
          left: 2rem;
        }

        //! @media 320px
        @include respond(mobileS) {
          width: 14rem;
          top: 81rem;
          left: 2rem;
        }
      }

      p {
        font-size: 20px;
      }
    }
  }

  .linear {
    &::before {
      content: "";
      position: absolute;
      // top: 54rem;
      // left: 65rem;
      top: 90%;
      right: 25%;
      width: 22rem;
      height: 29rem;
      background: linear-gradient(#e91e63, #ffc107);
      clip-path: circle(22% at 30% 20%);
      z-index: -1;

      //! @media 1440px
      @include respond(desktopMax) {
        top: 45rem;
        // right: 27%;
      }

      //! @media 1382px
      @include respond(desktop) {
        top: 43rem;
        // left: 24%;
      }

      //! @media 1024px
      @include respond(desktopS) {
        top: 36rem;
        // left: 25rem;
      }

      //! @media 768px
      @include respond(tablet) {
        top: 55rem;
        left: 7%;
      }

      //! @media 550px
      @include respond(tabletM) {
        width: 14rem;
        height: 22rem;
        top: 48rem;
        left: 2%;
      }

      //! @media 480px
      @include respond(mobileL) {
        top: 44rem;
        left: 5%;
      }

      //! @media 375px
      @include respond(mobileM) {
        top: 37rem;
        left: 5%;
      }

      //! @media 320px
      @include respond(mobileS) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;

      top: 116%;
      right: 6%;
      width: 22rem;
      height: 29rem;
      background: linear-gradient(#e91e63, #ffc107);
      clip-path: circle(20% at 70% 79%);
      z-index: -1;

      //! @media 1440px
      @include respond(desktopMax) {
        top: 63rem;
        right: 0;
      }

      //! @media 1382px
      @include respond(desktop) {
        top: 60rem;
      }

      //! @media 1024px
      @include respond(desktopS) {
        top: 52rem;
      }

      //! @media 768px
      @include respond(tablet) {
        top: 69rem;
        left: 48%;
      }

      //! @media 550px
      @include respond(tabletM) {
        width: 14rem;
        height: 22rem;
        top: 68rem;
        left: 51%;
      }

      //! @media 480px
      @include respond(mobileL) {
        top: 61rem;
        left: 43%;
      }

      //! @media 375px
      @include respond(mobileM) {
        top: 54rem;
        left: 36%;
      }

      //! @media 320px
      @include respond(mobileS) {
        display: none;
      }
    }
  }
}

.footer-contact {
  display: block;
  position: relative;
  top: 25rem;
  left: 0;

  //! @media 1024px
  @include respond(desktopS) {
    top: 15rem;
  }

  //! @media 480px
  @include respond(mobileL) {
    top: 10rem;
  }

  //! @media 320px
  @include respond(mobileS) {
    top: 7rem;
  }
}