.project {
  height: 100%;
  padding-bottom: 35rem;
  padding-top: 50px;

  //! @media 1024px
  @include respond(desktopS) {
    padding-top: 5px;
    padding-bottom: 18rem;
  }

  //! @media 480px
  @include respond(mobileL) {
    padding-bottom: 10rem;
  }
}

.section-title {
  h2 {
    font-size: 3rem;
  }
}

.section {
  .project_center {
    margin: 0 auto;
    width: fit-content;
  }

  .section_center {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 49% 49%;
    grid-template-areas: "left right";
    // width: 80vw;
    // max-width: 40rem;

    // ! @media 1440px
    @include respond(desktopMax) {
      grid-gap: 3rem;
    }

    //! @media 1382px
    @include respond(desktop) {
      grid-gap: 2rem;
    }

    //! @media 1024px
    @include respond(desktopS) {
      grid-gap: 1rem;
    }

    //! @media 768px
    @include respond(tablet) {
      grid-template-columns: 1fr;
      grid-template-areas: none;
      grid-gap: 2rem;
    }

    .project_item {
      margin: auto;
      // padding: 1rem 2rem;
      position: relative;
      width: fit-content;
      transform: $item-transform;
      transform-style: preserve-3d;

      //
      @include respond(desktopMax) {
        margin: 0;
      }

      &:hover {
        filter: $item-shadow;
      }

      .wrapper_project {
        display: inline-block;
        vertical-align: top;

        white-space: normal;
        word-break: break-word;
        position: relative;

        .image_project {
          width: 23em;
          height: 13em;
          border-radius: 5px;

          //
          @include respond(desktopMax) {
            width: 20em;
            height: 12em;
          }

          //
          @include respond(desktop) {
            width: 19em;
          }

          //! @media 1024px
          @include respond(desktopS) {
            width: 15em;
            height: 10em;
          }

          //! @media 768px
          @include respond(tablet) {
            width: 20em;
            height: 12em;
          }

          //! @media 550px
          @include respond(tabletM) {
            width: 16em;
            height: 10em;
          }

          //! @media 480px
          @include respond(mobileL) {
            width: 12em;
            height: 8em;
          }

          //! @media 375px
          @include respond(mobileM) {
            width: 10em;
            height: 6em;
          }

          //! @media 320px
          @include respond(mobileS) {
            width: 9.7em;
            height: 5.7em;
          }
        }
      }

      .number {
        position: absolute;
        top: 1em;
        left: 1em;
        font-size: 25px;
        filter: $-filter;
        color: $accent-color;

        //! @media 1024px
        @include respond(desktopS) {
          font-size: 20px;
        }

        //! @media 480px
        @include respond(mobileL) {
          font-size: 18px;
        }

        &,
        &:before,
        &:after {
          vertical-align: middle;
        }

        &:before,
        &:after {
          content: "";
          display: inline-block;
          height: 0.1em;
          font-size: 22px;
          margin-top: -0.2em;
          background: $accent-color;

          //! @media 1024px
          @include respond(desktopS) {
            font-size: 20px;
          }

          //! @media 480px
          @include respond(mobileL) {
            font-size: 18px;
          }
        }

        &:before {
          width: 0;
          margin-left: 0;
        }

        &:after {
          width: 3em;
          margin-left: 0.4em;

          //! @media 375px
          @include respond(mobileM) {
            width: 2em;
            margin-left: 0.3em;
          }
        }
      }

      .body {
        position: absolute;
        bottom: 2em;
        left: 1em;
        right: 7em;
        // transform: $-transform;
        transform-style: preserve-3d;
        overflow-wrap: break-word;

        //! @media 375px
        @include respond(mobileM) {
          bottom: 1.2em;
          left: 0.5em;
        }
      }

      .location,
      .headline {
        position: relative;
        bottom: 0;
        cursor: default;
      }

      &:before,
      .number:before,
      .number:after,
      .location,
      .headline,
      .link {
        transition: 375ms $curve;
      }

      .location {
        font-weight: 100;
        transition-delay: 60ms;

        opacity: 0;
        transition-delay: 25ms;
        pointer-events: none;

        h2 {
          font-size: 2.5rem;
          color: $accent-color;
          margin-top: 2rem;
          margin-bottom: 0;
          filter: $-filter;

          //! @media 1024px
          @include respond(desktopS) {
            font-size: 1.8rem;
          }

          //! @media 480px
          @include respond(mobileL) {
            font-size: 1.5rem;
          }

          //! @media 375px
          @include respond(mobileM) {
            font-size: 1rem;
          }
        }
      }

      .icons {
        font-size: 1.5rem;
        opacity: 0;
        margin-bottom: 10px;
        transition-delay: 25ms;
        pointer-events: none;
        color: $accent-color;
        filter: $-filter;

        ul {

          //! @media 480px
          @include respond(mobileL) {
            display: flex;
          }
        }

        svg {
          margin-right: 10px;
        }
      }

      .headline {
        transition-delay: 50ms;
      }

      .link {
        display: inline-block;
        text-align: center;
        background: $link-back;
        padding: 0.1em 0.2em;
        width: 7rem;
        height: 3rem;
        color: $accent-color;
        font-size: 1.5rem;
        opacity: 0;
        border-radius: 5px;
        position: absolute;
        bottom: -2em;
        pointer-events: none;
        transition-delay: 25ms;

        //! @media 1024px
        @include respond(desktopS) {
          width: 6rem;
        }

        //! @media 480px
        @include respond(mobileL) {
          width: 5rem;
          height: 2.2rem;
          font-size: 1.1rem;
        }

        //! @media 375px
        @include respond(mobileM) {
          width: 4rem;
          height: 2.2rem;
          font-size: 1rem;
        }

        svg {
          position: relative;
          top: 5px;
          left: 5px;
        }
      }

      &.hover,
      &:hover {
        &:before {
          opacity: 1;
        }

        &:before,
        .number:before,
        .number:after,
        .icons,
        .location,
        .headline,
        .link {
          transition: 500ms $curve;
        }

        .number:before {
          width: 3em;
          margin-right: 1em;
        }

        .number:after {
          width: 0;
          margin-right: 0;
        }

        .location {
          transition-delay: 0;
          bottom: 0.4em;
          opacity: 1;
          transition-delay: 350ms;
          pointer-events: auto;
        }

        .headline {
          transition-delay: 100ms;
          bottom: 1.5rem;

          //! @media 1024px
          @include respond(desktopS) {
            bottom: 0;
          }
        }

        .link {
          bottom: -1.9em;
          opacity: 1;
          transition-delay: 250ms;
          pointer-events: auto;
        }

        .icons {
          opacity: 1;
          margin-bottom: 30px;
          transition-delay: 280ms;
          pointer-events: auto;

          //! @media 1024px
          @include respond(desktopS) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}