.open-source-section {
  width: 90%;
  padding: 90px 10px 0 10px;
  padding-bottom: 35rem;
  margin: auto;
  height: 100%;

  //! @media 1024px
  @include respond(desktopS) {
    padding-top: 5px;
    padding-bottom: 18rem;
    width: 99%;
  }

  //! @media 480px
  @include respond(mobileL) {
    padding-bottom: 10rem;
  }

  .section-title {
    text-align: left;

    //! @media 768px
    @include respond(tablet) {
      text-align: center;
    }

    h2 {
      font-size: 4rem;

      //! @media 1024px
      @include respond(desktopS) {
        font-size: 3rem;
      }

      //! @media 480px
      @include respond(mobileL) {
        font-size: 2rem;
      }
    }

    .underline {
      width: 36rem;
      bottom: 30px;
      margin-left: 0;

      //! @media 1024px
      @include respond(desktopS) {
        width: 27.4rem;
        bottom: 28px;
      }

      //! @media 768px
      @include respond(tablet) {
        margin-left: auto;
      }

      //! @media 480px
      @include respond(mobileL) {
        width: 19rem;
        bottom: 26px;
      }
    }
  }

  .repo-cards-div-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1rem 1rem;
    gap: 1rem 1rem;
    padding-top: 2rem;

    //! @media 480px
    @include respond(mobileL) {
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }

    //! @media 375px
    @include respond(mobileM) {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    //! @media 320px
    @include respond(mobileS) {
      grid-template-columns: repeat(auto-fit, minmax(297px, 1fr));

    }

    .repo-container {
      .line-card-mode {
        background: $skill-back-color;
        backdrop-filter: $skill-backdrop;
        overflow: hidden;
        border-radius: 5px;

        &.repo-div {
          color: rgb(17, 17, 37);
          padding: 2rem;
          cursor: pointer;
          box-shadow: $skill-shadow;
          border-top: $skill-border;
          border-left: $skill-border;
        }

        .repo-name-div {
          display: flex;
          align-items: center;

          svg {
            margin-right: 0.5rem;
            min-width: 16px;
          }

          .repo-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            color: rgb(17, 17, 37);
            font-size: 25px;
            font-weight: 700;
            letter-spacing: -0.5px;
            overflow: hidden;
            margin: 0;
          }
        }

        .repo-description {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 21px;

          //! @media 992px
          @include respond(medium) {
            font-size: 20px;
          }

          //! @media 480px
          @include respond(mobileL) {
            font-size: 16px;
          }
        }

        .repo-stats {
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          color: $accent-color;

          .repo-left-stat {
            flex-grow: 1;
            display: flex;

            P {
              padding-left: 4px;
            }

            span {
              margin-right: 0.75rem;

              &,
              .repo-div {
                display: flex;
                align-items: center;
              }
            }

            .language-color {
              width: 10px;
              height: 10px;
              margin-right: 0.25rem;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }
}